<div class="recam--form--login-rede" v-bind:class="{'lr-form-no-mb': !marginBottom}">

	<div class="row lr-rede lr-rede-card" v-if="sessionFacebook">
		<div class="col col-12 col-sm-3 pr-sm-0">
			<img class="img-fluid w-100" v-bind:src="sessionFacebook.user.url_foto" alt="Facebook picture" />
		</div>
		<div class="col">
			<div class="alert alert-primary h-100" role="alert">
				<h5 class="card-title">
					<span class="badge badge-primary">Facebook</span>
					{{sessionFacebook.user.nome}}
				</h5>
				<p class="card-text">Email: {{sessionFacebook.user.email}}</p>
				<!-- <p class="card-text">ID: {{sessionFacebook.user.id_facebook}}</p> -->
				<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
				<!-- Facebook autenticado! -->
			</div>
		</div>
	</div>
	<div class="row lr-rede lr-rede-btn" v-else-if="facebook">
		<div class="col col-md-12">
			<a v-bind:href="facebook" class="btn btn-primary btn-lg btn-block">Fazer login com Facebook</a>
		</div>
	</div>
	<!-- <div class="form-group row" v-else>
		<div class="col-md-12">
			<button type="button" class="btn btn-primary btn-lg btn-block" disabled>Carregando Facebook...</button>
		</div>
	</div> -->

	<div class="row lr-rede lr-rede-card" v-if="sessionGoogle">
		<div class="col col-12 col-sm-3 pr-sm-0">
			<img class="img-fluid w-100" v-bind:src="sessionGoogle.user.url_foto" alt="Google picture" />
		</div>
		<div class="col">
			<div class="alert alert-light border h-100" role="alert">
				<h5 class="card-title">
					<span class="badge badge-light">Google</span>
					{{sessionGoogle.user.nome}}
				</h5>
				<p class="card-text">Email: {{sessionGoogle.user.email}}</p>
				<!-- <p class="card-text">ID: {{sessionGoogle.user.id_google}}</p> -->
				<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
				<!-- Google autenticado! -->
			</div>
		</div>
	</div>
	<div class="row lr-rede lr-rede-btn" v-else-if="google">
		<div class="col-md-12">
			<a v-bind:href="google" class="btn btn-light btn-lg btn-block">Fazer login com Google</a>
		</div>
	</div>
	<!-- <div class="form-group row" v-else>
		<div class="col-md-12">
			<button type="button" class="btn btn-light btn-lg btn-block" disabled>Carregando Google...</button>
		</div>
	</div> -->

	<div class="row lr-rede lr-rede-card" v-if="sessionTwitter">
		<div class="col col-12 col-sm-3 pr-sm-0">
			<img class="img-fluid w-100" v-bind:src="sessionTwitter.user.url_foto" alt="Twitter picture" />
		</div>
		<div class="col">
			<div class="alert alert-secondary h-100" role="alert">
				<h5 class="card-title">
					<span class="badge badge-secondary">Twitter</span>
					{{sessionTwitter.user.nome}}
				</h5>
				<p class="card-text">Email: {{sessionTwitter.user.email}}</p>
				<!-- <p class="card-text">ID: {{sessionTwitter.user.id_twitter}}</p> -->
				<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
				<!-- Twitter autenticado! -->
			</div>
		</div>
	</div>
	<div class="row lr-rede lr-rede-btn" v-else-if="twitter">
		<div class="col-md-12">
			<a v-bind:href="twitter" class="btn btn-secondary btn-lg btn-block">Fazer login com Twitter</a>
		</div>
	</div>
	<!-- <div class="form-group row" v-else>
		<div class="col-md-12">
			<button type="button" class="btn btn-secondary btn-lg btn-block" disabled>Carregando Twitter...</button>
		</div>
	</div> -->

	<div class="row lr-rede lr-rede-card" v-if="sessionLinkedin">
		<div class="col col-12 col-sm-3 pr-sm-0">
			<img class="img-fluid w-100" v-bind:src="sessionLinkedin.user.url_foto" alt="Linkedin picture" />
		</div>
		<div class="col">
			<div class="alert alert-info h-100" role="alert">
				<h5 class="card-title">
					<span class="badge badge-info">Linkedin</span>
					{{sessionLinkedin.user.nome}}
				</h5>
				<p class="card-text">Email: {{sessionLinkedin.user.email}}</p>
				<!-- <p class="card-text">ID: {{sessionLinkedin.user.id_linkedin}}</p> -->
				<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
				<!-- LinkedIn autenticado! -->
			</div>
		</div>
	</div>
	<div class="row lr-rede lr-rede-btn" v-else-if="linkedin">
		<div class="col-md-12">
			<a v-bind:href="linkedin" class="btn btn-info btn-lg btn-block">Fazer login com LinkedIn</a>
		</div>
	</div>
	<!-- <div class="form-group row" v-else>
		<div class="col-md-12">
			<button type="button" class="btn btn-info btn-lg btn-block" disabled>Carregando Linkedin...</button>
		</div>
	</div> -->

</div>