<div class="recam--logado" style="min-height: 100%">

	<recam--logado--menu></recam--logado--menu>

	<div class="row justify-content-center mx-0 py-3">
		<div class="col-md-6 col-lg-4">
			<div class="list-group">
				<span class="list-group-item">Olá, {{usuario.usuario_nome}}!</span>
				<span class="list-group-item">E-mail: {{usuario.usuario_email}}</span>
				<span class="list-group-item">Registrado em: {{printModelDate(usuario.usuario_registro)}}</span>
				<span class="list-group-item">Autorizado em: {{usuario.usuario_autorizado ? printModelDate(usuario.usuario_autorizado) : '(autorização pendente)'}}</span>
				<span class="list-group-item">Você acessou {{1 === acesso.acesso_contagem ? '1 vez' : acesso.acesso_contagem+' vezes'}} em {{printModelDate(acesso.acesso_data)}}</span>
				<span class="list-group-item">Primeiro horário: {{acesso.acesso_hora_inicial}}</span>
				<span class="list-group-item">Último horário: {{acesso.acesso_hora_final}}</span>
				<span class="list-group-item">Congregação:
					<template v-if="reuniao">
						{{ reuniao.name }}
						(<a href="javascript:;" v-on:click="selecionarCongregacao">trocar</a>)
					</template>
					<a v-else href="javascript:;" v-on:click="selecionarCongregacao">
						Selecionar
					</a>
				</span>
				<span v-if="logoutLoading" class="list-group-item">Aguarde, fazendo logout...</span>
				<a href="javascript:;" v-else class="list-group-item" v-on:click="clickLogout">Logout</a>
			</div>
		</div>
	</div>

	<pre v-show="false">
{{ JSON.stringify({usuario:usuario,acesso:acesso,reuniao:reuniao}, null, '\t') }}
	</pre>

	<recam--logado--mapa v-if="renderizarMapa" v-show="exibirMapa" v-on:selecionado="reuniaoSelecionada"></recam--logado--mapa>

	<recam--logado--dne v-if="usuario.usuario_id == 8"></recam--logado--dne>

</div>
