.recam--form-campo--texto-multilinha {}
.recam--form-campo--texto-multilinha .campo-border {
	height: auto;
}
.recam--form-campo--texto-multilinha.campo-focused .campo-label {
	top: 10px;
	font-size: 12px;
}
.recam--form-campo--texto-multilinha .campo-value {
	padding: 30px 16px 4px 22px;
  height: auto;
}
.recam--form-campo--texto-multilinha .campo-value textarea {
	resize: vertical;
}